@import './mixins';
@import './variables';


%eyebrow {
  text-transform: uppercase;
  font-size: ms(-1);
  letter-spacing: ms(-5);
  margin: 0 0 ms(0) 0;
  color: $red-mh;

  @include bp(2) {
    font-size: ms(-1);
  }

  @include bp(max) {
    margin: 0 0 1em 0;
    letter-spacing: 0.09017em;
  }
}
%alt-eyebrow {
  color: lighten($gray-mh, 10%);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: ms(-6);
  font-size: ms(-1, $thread: aug);
  margin: 0 0 ms(0) 0;

  @include bp(max) {
    font-size: 0.512em;
    margin: 0 0 1em 0;
    letter-spacing: 0.05573em;
  }
}

%alt-headline {
  font-weight: 400;
  color: $white-off;
  line-height: ms(1);
  font-size: ms(-1, $thread: aug);

  @include bp(max) {
    line-height: 1.61803em;
    font-size: 0.61803em;
  }
}

%headline {
  font-weight: 400;
  font-size: ms(1);
  margin: 0 0 ms(-3) 0;

  @include bp(2) {
    font-size: ms(2);
  }

  @include bp(max) {
    width: percentage(4/5);
    font-size: 2.61803em;
    margin: 0 0 0.23607em 0;
  }
}

%subheadline {
  line-height: ms(2, $thread: aug);
  font-size: ms(0);
  font-weight: 300;

  @include bp(2) {
    font-size: ms(1);
  }

  @include bp(max) {
    font-size: ms(0, $thread: aug);
  }
}